.infor {
    position: relative;
    left: 100px;
    width: auto;
    height: auto;
    background-color: aquamarine;
}

h1 {
    position: absolute;
    top: 0px;
    font-family: 'Gagalin';
    // color: rgb(56, 115, 81);
    color: rgb(45, 106, 86);
    font-size: 200px;
}

b {
    position: absolute;
    font-family: 'Arial';
    color: rgb(45, 106, 86);
    top: 380px;
    left: 70px;
    font-size: 20px;
}

.search_div {
    position: absolute;
    top: 400px;
    left: 80px;
}

.link_div {
    position: absolute;
}

.search-input {
    position: absolute;
    top: 0px;
    border-style: solid;
    width: 400px;
    height: 20px;
    display: block;
    border-radius: 25px;
    font-size: 13px;
    padding: 13px 45px 13px 25px;
    border-width: 6px;
    font-size: 17px;
    border-color: rgb(45, 106, 86);
}

.search-input:focus {
    outline: none;
}

.search-button {
    position: absolute;
    top: 11px;
    left: 430px;
    width: 50px;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 30px;
}

.fa-sharp {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.search-button i {
    color: rgb(45, 106, 86);
}

.search-button:hover i {
    color: white;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: black;
    position: relative;
    left: 10%;
}

img {
    float: right;
    margin-top: -20%;
    margin-right: -23%;
    width: 75%;
    height: 75%;
}