.test b {
    color: rgb(45, 106, 86);
    margin-left: 3%;
    font-family: Arialle;
}

.main-search-input-item input {
    float: left;
    width: 30%;
    height: 40px;
    padding:0px 40px 0px 40px;  
    border-radius: 50px;
    margin-left: 7%;
    border-width: 6px;
    border-color: rgb(45, 106, 86);;
}