<div class="container">
    <h1 style="font-family: Gagalin; font-size: 150px; color: rgb(45, 106, 86);">LUDWIGIA</h1>
    <div class="test">
        <b>Tra cứu thông tin khoa học - Thông tin tin cậy - Tham khảo dễ dàng</b>
        <div class="main-search-input">
        <div class="main-search-input-item">
            <input type="text" value="" placeholder="Nhập thông tin loài cần tìm" >
            <i class="bi bi-search"></i>
        </div>

        {{!-- <button class="main-search-button">Search</button> --}}
    </div>
    </div>
    
</div>