<div class="container">
    <div class="infor">
        <h1>LUDWIGIA</h1>
        <b>Tra cứu khoa học - Thông tin tin cậy - Tham khảo dễ dàng</b>

        <div class="search_div">
            <input type="text" class="search-input" placeholder="Nhập thông tin loại cần tìm" />
            <button type="submit" class="search-button"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class="link_div">
            <a href="">Giới thiệu chung</a>
            <a href="">Liên hệ</a>
        </div>
    </div>

    {{!-- <img src="./img/home.png" alt=""> --}}

    <script src="./main.js"></script>
</div>

{{!-- color: rgb(45, 106, 86); --}}